<!-- Footer -->
<div id="footer" class="">

  <div class="kd-container ">

    <!--Widgets-->
    <div class="footer-widgets">
      <div class="footer-item">
        <!-- Contact -->
        <div class="widget ntp-contact">
          <h2 class="widget-title ">Contact Me</h2>
          <div class="widget-contact-content">
            <div class="ntp-description">
              <p>
                Amet augue rutrum gravida tellus nostra integer netus, feugiat sociis. Euismod nunc lacus ante commodo tortor montes eu duis orci tempor iaculis sociosqu.
              </p>
            </div>
            <div class="item-icon-left ntp-description">
              <i class="fa fa-map-marker"></i>
              <span>
                                    75 Washington DC                     </span>
            </div>
            <div class="item-icon-left ntp-description">
              <i class="fa fa-envelope"></i>
              <span>
                                    <a href="mailto:kendytheme.ksb@gmail.com">kendytheme.ksb@gmail.com</a>
                                </span>
            </div>
            <div class="item-icon-left ntp-description">
              <i class="fa fa-phone"></i>
              <span>
                                    +123 456 789                    </span>
            </div>
          </div>
        </div>
        <!-- End Contact -->
      </div>
      <div class="footer-item">
        <!-- Instagram -->
        <div class="widget ntp-instagram">
          <h2 class="widget-title">Flickr</h2>
          <div class="ntp-instagram-content widget-grid">
            <div class="item">
              <a href="#">
                <img src="images/widgets/flickr/1.jpg" alt="Flickr Feed">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="images/widgets/flickr/2.jpg" alt="Flickr Feed">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="images/widgets/flickr/3.jpg" alt="Flickr Feed">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="images/widgets/flickr/4.jpg" alt="Flickr Feed">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="images/widgets/flickr/5.jpg" alt="Flickr Feed">
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="images/widgets/flickr/6.jpg" alt="Flickr Feed">
              </a>
            </div>
          </div>
        </div>
        <!-- End Instagram -->
      </div>
      <div class="footer-item">
        <!-- Latest Posts -->
        <div class="widget ntp-latest-posts"><h2 class="widget-title">Random Posts</h2>
          <div class="widget-list">
            <div class="item clearfix">
              <a href="#">
                <div class="item-image" style="background-image: url('images/widgets/posts/16.jpg')">
                  <img src="images/widgets/posts/16.jpg" alt="The secret made women the beauty">
                </div>
              </a>
              <div class="widget-item-content">
                <h3 class="item-title">
                  <a href="#">The secret made women the beauty</a>
                </h3>
                <a href="#" class="item-meta"><span>October 9, 2016</span></a>
              </div>
            </div>
            <div class="item clearfix">
              <a href="#">
                <div class="item-image" style="background-image: url('images/widgets/posts/26.jpg')">
                  <img src="images/widgets/posts/26.jpg" alt="The secret made women the beauty">
                </div>
              </a>
              <div class="widget-item-content">
                <h3 class="item-title">
                  <a href="#">The secret made women the beauty</a>
                </h3>
                <a href="#" class="item-meta"><span>October 9, 2016</span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Latest Posts -->
      </div>
    </div>
    <!--End Widgets-->

    <!-- Footer Content -->
    <div class="footer-content">
      <div class="socials">
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#">
          <i class="fa fa-dribbble"></i>
        </a>
      </div>
      <div class="copyright">
        All rights reserved. Designed & developed by KendyThemes
      </div>
    </div>
    <!-- End Footer Content -->
  </div>

</div>

<!-- End Footer -->
