<header class="header">

  <!-- Header Fixed Top -->
  <div class="header-fixed">

    <!--Menu Mobile -->
    <div class="menu-mobile">
      <span class="item item-1"></span>
      <span class="item item-2"></span>
      <span class="item item-3"></span>
    </div>

    <!-- Navigation -->
    <nav class="navigation">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="index.html">Home</a>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#">Features</a>
          <ul class="sub-menu">
            <li class="menu-item menu-item-has-children">
              <a href="#">Standard Layout</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="index-without-sidebar.html">Standard No Sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="index-left-sidebar.html">Standard Left Sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="index-right-sidebar.html">Standard Right Sidebar</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Grid Layout</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="grid.html">Grid Without Sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="grid-left-sidebar.html">Grid Left Sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="grid-right-sidebar.html">Grid Right Sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="grid-3-column.html">Grid Three Column</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">List Layout</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="list.html">List Without Sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="list-left-sidebar.html">List Left Sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="list-right-sidebar.html">List Right Sidebar</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#">Travel</a>
        </li>
        <li class="menu-item">
          <a href="#">Lifestyle</a>
        </li>
        <li class="menu-item">
          <a href="single.html">Single</a>
        </li>
        <li class="menu-item">
          <a href="about.html">About</a>
        </li>
        <li class="menu-item">
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- End Navigation -->

    <!-- Right Box -->
    <div class="header-right">
      <div class="header-share">
        <i class="fa fa-share-alt"></i>
      </div>
      <div class="header-search">
        <i class="fa fa-search"></i>
      </div>
      <div class="header-share-popup header-popup">
        <div class="header-close">
          <span>x</span>
        </div>
        <div class="header-table">
          <div class="header-tb-cell">
            <a href="#">
              <i class="fa fa-facebook"></i>
              <span>
                Facebook
              </span>
            </a>
            <a href="#">
              <i class="fa fa-twitter"></i>
              <span>Twitter</span>
            </a>
            <a href="#">
              <i class="fa fa-instagram"></i>
              <span>Instagram</span>
            </a>
            <a href="#">
              <i class="fa fa-dribbble"></i>
              <span>Dribbble</span>
            </a>
          </div>
        </div>
      </div>
      <div class="header-search-popup header-popup">
        <div class="header-close">
          <span>x</span>
        </div>
        <div class="header-table">
          <div class="header-tb-cell">
            <form action="#">
              <input type="text" placeholder="Press enter to search"/>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Right Box -->

  </div>
  <!-- End Header Fixed Top -->

  <!-- Site Logo -->
  <div class="site-logo">
    <a href="#">
      <img src="images/logo.png">
    </a>
  </div>
  <!-- End Site Logo -->
</header>
