<!-- START: Instagram-->
    <div class="instagram">
      <h3>Follow on instagram</h3>
      <ul>
        <li><a href="#"><img src="images/inst-1.jpeg.jpg" alt/></a></li>
        <li><a href="#"><img src="images/inst-2.jpg" alt/></a></li>
        <li><a href="#"><img src="images/inst-3.jpeg.jpg" alt/></a></li>
        <li><a href="#"><img src="images/inst-4.jpg" alt/></a></li>
        <li><a href="#"><img src="images/inst-5.jpeg.jpg" alt/></a></li>
        <li><a href="#"><img src="images/inst-6.jpg" alt/></a></li>
        <li><a href="#"><img src="images/inst-7.jpeg.jpg" alt/></a></li>
        <li><a href="#"><img src="images/inst-8.jpg" alt/></a></li>
      </ul>
    </div>
<!-- END: Instagram-->