<!-- START: Menu-->
    <div id="menu" class="menu">
      <div class="container">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <ul class="navigation">
          <li><a href="index.html">Home<i class="fa fa-angle-down"></i></a>
            <ul>
              <li><a href="index.html">Home Default</a></li>
              <li><a href="index-list.html">Home List</a></li>
              <li><a href="index-one-column-1.html">Home One Column 1</a></li>
              <li><a href="index-one-column-2.html">Home One Column 2</a></li>
              <li><a href="index-two-columns-1.html">Home Two Columns 1</a></li>
              <li><a href="index-two-columns-2.html">Home Two Columns 2</a></li>
              <li><a href="index-three-columns.html">Home Three Columns</a></li>
              <li><a href="index-without-hero.html">Home Without Hero</a></li>
            </ul>
          </li>
          <li><a href="blog-post-1.html">Post<i class="fa fa-angle-down"></i></a>
            <ul>
              <li><a href="blog-post-1.html">Post 1</a></li>
              <li><a href="blog-post-2.html">Post 2</a></li>
              <li><a href="blog-post-3.html">Post 3</a></li>
              <li><a href="features.html">Features</a></li>
            </ul>
          </li>
          <li><a href="category.html">Lifestyle</a></li>
          <li><a href="category.html">Inspiration</a></li>
          <li><a href="category.html">Travel</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="menu-tougle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <!-- END: Menu-->