<!-- START: Menu Sidebar-->
    <div class="menu-sidebar-disable"></div>
    <div class="menu-sidebar">
      <div class="exit"><i class="fa fa-close"></i></div>
      <div class="form search">
        <input type="search" placeholder="Search"/><i class="fa fa-search"></i>
      </div>
      <ul class="navigation">
        <li><a href="index.html">Home</a>
          <ul>
            <li><a href="index.html">Home Default</a></li>
            <li><a href="index-list.html">Home List</a></li>
            <li><a href="index-one-column-1.html">Home One Column 1</a></li>
            <li><a href="index-one-column-2.html">Home One Column 2</a></li>
            <li><a href="index-two-columns-1.html">Home Two Columns 1</a></li>
            <li><a href="index-two-columns-2.html">Home Two Columns 2</a></li>
            <li><a href="index-three-columns.html">Home Three Columns</a></li>
            <li><a href="index-without-hero.html">Home Without Hero</a></li>
          </ul>
        </li>
        <li><a href="blog-post-1.html">Post</a>
          <ul>
            <li><a href="blog-post-1.html">Post 1</a></li>
            <li><a href="blog-post-2.html">Post 2</a></li>
            <li><a href="blog-post-3.html">Post 3</a></li>
            <li><a href="features.html">Features</a></li>
          </ul>
        </li>
        <li><a href="category.html">Lifestyle</a></li>
        <li><a href="category.html">Travel</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="about-me">
        <h3><a href="about.html">About Me</a></h3>
        <div class="photo"><img src="images/photo.jpg" alt/></div>
        <p>Hi, my name is Jane Doe. I am traveler, writer and blogger.  Lorem ipsum dolor sit amet, te consectetursit at atomorum</p>
      </div>
      <div class="follow-me">
        <h3>Follow me</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <div class="banner-spot"><img src="images/banner-spot.jpg" alt/></div>
      </div>
      <div class="subscribe">
        <h3>Subscribe</h3>
        <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
        <form>
          <input type="email" placeholder="Enter your email"/>
          <input type="submit" value="submit"/>
        </form>
      </div>
      <ul class="footer-links">
        <li><a href="#">Help</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Advertise</a></li>
      </ul>
    </div>
    <!-- END: Menu Sidebar-->