<!-- Featured Slider -->
<div class="featured-slider">
  <div class="item">
    <div class="image" style="background-image:url(images/featured/1.jpg); ">
      <img src="images/featured/1.jpg">
    </div>
    <div class="content">
      <div class="post-cat">
        <ul>
          <li>
            <a href="#">Travel</a>
          </li>
          <li>
            <a href="#">Lifestyle</a>
          </li>
        </ul>
      </div>
      <h2 class="title">
        <a href="#">The secret made women the beauty</a>
      </h2>
      <hr class="divider" />
      <div class="read-more">
        <a href="#">Read more</a>
      </div>
    </div>

  </div>
  <div class="item">
    <div class="image" style="background-image:url(images/featured/2.jpg); ">
      <img src="images/featured/2.jpg">
    </div>
    <div class="content">
      <div class="post-cat">
        <ul>
          <li>
            <a href="#">Lifestyle</a>
          </li>
          <li>
            <a href="#">Beautiful</a>
          </li>
        </ul>
      </div>
      <h2 class="title">
        <a href="#">LIFE IS CHOICES, AND LET’S CHOOSE JOY</a>
      </h2>
      <hr class="divider" />
      <div class="read-more">
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image" style="background-image:url(images/featured/3.jpg); ">
      <img src="images/featured/3.jpg">
    </div>
    <div class="content">
      <div class="post-cat">
        <ul>
          <li>
            <a href="#">Travel</a>
          </li>
          <li>
            <a href="#">Beautiful</a>
          </li>
        </ul>
      </div>
      <h2 class="title">
        <a href="#">LET’S DEPEND UPON ONE’S OWN EFFORTS</a>
      </h2>
      <hr class="divider" />
      <div class="read-more">
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image" style="background-image:url(images/featured/4.jpg); ">
      <img src="images/featured/4.jpg">
    </div>
    <div class="content">
      <div class="post-cat">
        <ul>
          <li>
            <a href="#">Travel</a>
          </li>
          <li>
            <a href="#">Beautiful</a>
          </li>
        </ul>
      </div>
      <h2 class="title">
        <a href="#">THE SECRET MADE WOMEN THE BEAUTY</a>
      </h2>
      <hr class="divider" />
      <div class="read-more">
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
</div>
<!-- End Featured Slider -->
