<div class="main-section">
      <div class="container">
        <!-- START: Content-->
        <div class="content">
          <div class="post-default">
            <h3 class="category"><a href="category.html">Lifestyle</a></h3>
            <h2 class="heading"><a href="blog-post-1.html">Spring is a great time to fall in love with somebody</a></h2>
            <h3 class="date"><a href="date.html">27 March 2016</a></h3>
            <div class="post-image"><img src="images/post-image-1.jpg" alt/></div>
            <div class="post-text">
              <p>Lorem ipsum dolor sit amet, utroque sapientem cu per. In mei commodo prompta, sit at atomorum incorrupte. Omnium prodesset cu nam, vim dictas omnesque et. Te utinam instructior est, sit disputando adversarium te. Tale consul disputando mei ut, ex blandit euripidis eos, eu nam brute euripidis. An ius alii alia viderer, idque simul an nam. Commune eloquentiam te mel, cu omnis altera luptatum mei. Vel wisi utinam adipiscing ut, ex mel harum ceteros tacimates, ex agam consectetuer eam.</p>
              <p>Prompta numquam mel ad, tempor definiebas id usu, cum cu feugiat bonorum. Eu pri labores maiorum patrioque, sea an tation utinam. Idque albucius prodesset ei est, sea te vide contentiones consectetuer. Usu eu feugiat tibique ponderum, in dicat homero fabellas primis ocurreret no cum.</p>
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div class="comments-count">
              <p><a href="blog-post-1.html#comments">16 Comments</a></p>
            </div>
            <div class="divider"><a href="blog-post-1.html">Read more</a></div>
          </div>
          <div class="post-default">
            <h3 class="category"><a href="category.html">Travel</a></h3>
            <h2 class="heading"><a href="blog-post-1.html">20 lessons from a 5 years of traveling around the world</a></h2>
            <h3 class="date"><a href="date.html">27 March 2016</a></h3>
            <div class="post-image"><img src="images/post-image-2.jpeg.jpg" alt/></div>
            <div class="post-text">
              <p>Lorem ipsum dolor sit amet, utroque sapientem cu per. In mei commodo prompta, sit at atomorum incorrupte. Omnium prodesset cu nam, vim dictas omnesque et. Te utinam instructior est, sit disputando adversarium te. Tale consul disputando mei ut, ex blandit euripidis eos, eu nam brute euripidis. An ius alii alia viderer, idque simul an nam. Commune eloquentiam te mel, cu omnis altera luptatum mei. Vel wisi utinam adipiscing ut, ex mel harum ceteros tacimates, ex agam consectetuer eam.</p>
              <p>Prompta numquam mel ad, tempor definiebas id usu, cum cu feugiat bonorum. Eu pri labores maiorum patrioque, sea an tation utinam. Idque albucius prodesset ei est, sea te vide contentiones consectetuer. Usu eu feugiat tibique ponderum, in dicat homero fabellas primis ocurreret no cum.</p>
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div class="comments-count">
              <p><a href="blog-post-1.html#comments">16 Comments</a></p>
            </div>
            <div class="divider"><a href="blog-post-1.html">Read more</a></div>
          </div>
          <div class="post-default">
            <h3 class="category"><a href="category.html">Lifestyle</a></h3>
            <h2 class="heading"><a href="blog-post-1.html">The importance of rest <br/> and relaxation</a></h2>
            <h3 class="date"><a href="date.html">27 March 2016</a></h3>
            <div class="post-image"><img src="images/post-image-3.jpg" alt/></div>
            <div class="post-text">
              <p>Lorem ipsum dolor sit amet, utroque sapientem cu per. In mei commodo prompta, sit at atomorum incorrupte. Omnium prodesset cu nam, vim dictas omnesque et. Te utinam instructior est, sit disputando adversarium te. Tale consul disputando mei ut, ex blandit euripidis eos, eu nam brute euripidis. An ius alii alia viderer, idque simul an nam. Commune eloquentiam te mel, cu omnis altera luptatum mei. Vel wisi utinam adipiscing ut, ex mel harum ceteros tacimates, ex agam consectetuer eam.</p>
              <p>Prompta numquam mel ad, tempor definiebas id usu, cum cu feugiat bonorum. Eu pri labores maiorum patrioque, sea an tation utinam. Idque albucius prodesset ei est, sea te vide contentiones consectetuer. Usu eu feugiat tibique ponderum, in dicat homero fabellas primis ocurreret no cum.</p>
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div class="comments-count">
              <p><a href="blog-post-1.html#comments">16 Comments</a></p>
            </div>
            <div class="divider"><a href="blog-post-1.html">Read more</a></div>
          </div>
          <div class="post-default">
            <h3 class="category"><a href="category.html">Lifestyle</a></h3>
            <h2 class="heading"><a href="blog-post-1.html">Top 10 reasons to spend the summer <br/> in the country</a></h2>
            <h3 class="date"><a href="date.html">27 March 2016</a></h3>
            <div class="post-image"><img src="images/post-image-4.jpg" alt/></div>
            <div class="post-text">
              <p>Lorem ipsum dolor sit amet, utroque sapientem cu per. In mei commodo prompta, sit at atomorum incorrupte. Omnium prodesset cu nam, vim dictas omnesque et. Te utinam instructior est, sit disputando adversarium te. Tale consul disputando mei ut, ex blandit euripidis eos, eu nam brute euripidis. An ius alii alia viderer, idque simul an nam. Commune eloquentiam te mel, cu omnis altera luptatum mei. Vel wisi utinam adipiscing ut, ex mel harum ceteros tacimates, ex agam consectetuer eam.</p>
              <p>Prompta numquam mel ad, tempor definiebas id usu, cum cu feugiat bonorum. Eu pri labores maiorum patrioque, sea an tation utinam. Idque albucius prodesset ei est, sea te vide contentiones consectetuer. Usu eu feugiat tibique ponderum, in dicat homero fabellas primis ocurreret no cum.</p>
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div class="comments-count">
              <p><a href="blog-post-1.html#comments">16 Comments</a></p>
            </div>
            <div class="divider"><a href="blog-post-1.html">Read more</a></div>
          </div>
          <div class="post-default">
            <h3 class="category"><a href="category.html">Inspiration</a></h3>
            <h2 class="heading"><a href="blog-post-1.html">It`s time to change the future</a></h2>
            <h3 class="date"><a href="date.html">27 March 2016</a></h3>
            <div class="post-image"><img src="images/post-image-5.jpg" alt/></div>
            <div class="post-text">
              <p>Lorem ipsum dolor sit amet, utroque sapientem cu per. In mei commodo prompta, sit at atomorum incorrupte. Omnium prodesset cu nam, vim dictas omnesque et. Te utinam instructior est, sit disputando adversarium te. Tale consul disputando mei ut, ex blandit euripidis eos, eu nam brute euripidis. An ius alii alia viderer, idque simul an nam. Commune eloquentiam te mel, cu omnis altera luptatum mei. Vel wisi utinam adipiscing ut, ex mel harum ceteros tacimates, ex agam consectetuer eam.</p>
              <p>Prompta numquam mel ad, tempor definiebas id usu, cum cu feugiat bonorum. Eu pri labores maiorum patrioque, sea an tation utinam. Idque albucius prodesset ei est, sea te vide contentiones consectetuer. Usu eu feugiat tibique ponderum, in dicat homero fabellas primis ocurreret no cum.</p>
            </div>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div class="comments-count">
              <p><a href="blog-post-1.html#comments">16 Comments</a></p>
            </div>
            <div class="divider"><a href="blog-post-1.html">Read more</a></div>
          </div>
          <div class="pagination">
            <div class="newer-posts hidden"><a href="#"><i class="fa fa-long-arrow-left"></i>Newer Posts</a></div>
            <div class="older-posts"><a href="#">Older Posts<i class="fa fa-long-arrow-right"></i></a></div>
          </div>
        </div>
        <!-- END: Content-->
        <!-- START: Sidebar-->
        <div class="sidebar">
          <div class="about-me">
            <h3><a href="about.html">About Me</a></h3>
            <div class="photo"><img src="images/photo.jpg" alt/></div>
            <p>Hi, my name is Jane Doe. I am traveler, writer and blogger.  Lorem ipsum dolor sit amet, te consectetursit at atomorum</p>
          </div>
          <div class="follow-me">
            <h3>Follow me</h3>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div class="banner-spot"><img src="images/banner-spot.jpg" alt/></div>
          </div>
          <div class="subscribe">
            <h3>Subscribe</h3>
            <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
            <form>
              <input type="email" placeholder="Enter your email"/>
              <input type="submit" value="submit"/>
            </form>
          </div>
          <div class="popular-posts">
            <h3>Popular posts</h3>
            <div class="pop-post"><img src="images/popular-post-1.jpeg.jpg" alt/>
              <div class="info">
                <h4><a href="date.html">27 March 2016</a></h4>
                <h3><a href="blog-post-1.html">Does happiness realy exist</a></h3>
              </div>
            </div>
            <div class="pop-post"><img src="images/popular-post-2.jpg" alt/>
              <div class="info">
                <h4><a href="date.html">27 March 2016</a></h4>
                <h3><a href="blog-post-1.html">Be honest with yourself</a></h3>
              </div>
            </div>
            <div class="pop-post"><img src="images/popular-post-3.jpg" alt/>
              <div class="info">
                <h4><a href="date.html">27 March 2016</a></h4>
                <h3><a href="blog-post-1.html">Things that inspire me the most</a></h3>
              </div>
            </div>
          </div>
          <div class="categories">
            <h3>Categories</h3>
            <div class="category">
              <h3><a href="category.html">Lifestyle</a></h3>
              <p>42 Posts</p>
            </div>
            <div class="category">
              <h3><a href="category.html">Inspiration</a></h3>
              <p>57 Posts</p>
            </div>
            <div class="category">
              <h3><a href="category.html">Travel</a></h3>
              <p>32 Posts</p>
            </div>
          </div>
          <div class="tags">
            <h3>Tags</h3>
            <ul>
              <li><a href="category.html">Lifestyle</a></li>
              <li><a href="category.html">Fashion</a></li>
              <li><a href="category.html">Inspiration</a></li>
              <li><a href="category.html">Travel</a></li>
              <li><a href="category.html">Movies</a></li>
              <li><a href="category.html">Health</a></li>
            </ul>
          </div>
          <div class="instagram-sidebar">
            <h3>Instagram</h3>
            <ul>
              <li><a href="#"><img src="images/instagram-sidebar-1.jpeg.jpg" alt/></a></li>
              <li><a href="#"><img src="images/instagram-sidebar-2.jpg" alt/></a></li>
              <li><a href="3"><img src="images/instagram-sidebar-3.jpeg.jpg" alt/></a></li>
              <li><a href="#"><img src="images/instagram-sidebar-4.jpg" alt/></a></li>
              <li><a href="#"><img src="images/instagram-sidebar-5.jpeg.jpg" alt/></a></li>
              <li><a href="3"><img src="images/instagram-sidebar-6.jpg" alt/></a></li>
              <li><a href="#"><img src="images/instagram-sidebar-7.jpeg.jpg" alt/></a></li>
              <li><a href="#"><img src="images/instagram-sidebar-8.jpg" alt/></a></li>
              <li><a href="3"><img src="images/instagram-sidebar-9.jpg" alt/></a></li>
            </ul>
          </div>
        </div>
        <!-- END: Sidebar-->
      </div>
    </div>